/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

a {
  color:black;
text-decoration:underline;
}

a:visited {

color:gray;
text-decoration:underline;

}

body{
    margin: 33px;
}
p,ul,td{
    margin: 33px;
}

.title1{

}
.book1{

}
form {
    display: block;
    margin-top: 0em;
}
td{
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
        display: table-cell;
    vertical-align: inherit;
}
.book-title,.book-body{
  word-break : break-all;
}

.link-menu{
    border-bottom: 1px,solid,black;
}
.text-box{

}
.mini-menu{

}
